[submodule "confident-confidant"]
	path = confident-confidant
	url = git@github.com:calebgregory/confident-confidant.git
[submodule "lemonaid"]
	path = lemonaid
	url = git@github.com:calebgregory/lemonaid.git
[submodule "dotfiles/.emacs.d"]
	path = dotfiles/.emacs.d
	url = git@github.com:calebgregory/config.emacs.d.git
